body{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    min-height:100vh;

    background:linear-gradient(135deg,#0f4c81,#1e88e5,#42a5f5);
    background-size:400% 400%;

    animation:bgMove 12s ease infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}
.container{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: #cccccc;
  margin-bottom: 30px;
}

form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;

    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);

    padding:35px;

    border-radius:25px;

    box-shadow:0 15px 40px rgba(0,0,0,.3);

    transition:.4s;
}

input,
select{

    padding:15px;

    border:none;

    border-radius:12px;

    background:rgba(255,255,255,.9);

    font-size:15px;

    transition:.3s;

}

input:focus,
select:focus{

    transform:scale(1.03);

    box-shadow:0 0 15px rgba(33,150,243,.5);

    outline:none;

}

button{

    grid-column:span 2;

    padding:16px;

    border:none;

    border-radius:14px;

    background:linear-gradient(90deg,#1565C0,#42A5F5);

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.35s;

}

button:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 25px rgba(0,0,0,.35);

}

.result{
    margin-top:20px;
    padding:20px;
    border-radius:10px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    background:#222;
    color:white;
}
/* ---------- Result Card ---------- */

.result {
  margin-top: 20px;
  padding: 25px;
  border-radius: 18px;
  color: white;
  transition: all 0.5s ease;
}

/* High Risk */

.high-risk {
  background: linear-gradient(135deg, #ff4b4b, #b30000);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}

/* Medium Risk */

.medium-risk {
  background: linear-gradient(135deg, #ffb347, #ff9800);
  box-shadow: 0 0 25px rgba(255, 165, 0, 0.4);
}

/* Low Risk */

.low-risk {
  background: linear-gradient(135deg, #22c55e, #15803d);
  box-shadow: 0 0 25px rgba(0, 255, 100, 0.35);
}